{
  "printWidth": 92,
  "semi": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "importOrder": ["^\\@(.*)$", "^[a-z](.*)$", "^./(.*)$", "^../(.*)$$"],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
